:root {
 --primary-color: #333;
 --dark-color: #101010;
 --background-color: #ffffff;
 --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--primary-color);
}

.container {
  background: var(--primary-color);
  margin: 3rem 2rem;
  padding: 3rem 2rem;
  width: 50vw;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

#form-control {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: var(--background-color);
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: auto;
  padding: 0 3rem;
  margin: 0 3rem;
  border-radius: .5rem;
}

.lead {
  text-align: center;
  font-size: 3rem;
  color: var(--dark-color);
}

#form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 30vw;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem .5rem;
  border: none;
  border-bottom: 1px solid rgba(3, 3, 3, 0.637);
  font-size: 1.2rem;
}

.btn-black {
  background: var(--primary-color);
  color: #fff;
  border-radius: .5rem;
}

#invisible {
  text-align: center;
  font-size: 1.2rem;
  background: rgb(230, 136, 155);
  padding: 1rem 0;
  line-height: 1.3;
  border: 3px solid red;
  display: none;
}